# GitHub Sync Application - Managed .gitignore
# Last updated: 2025-03-05 08:39:01

*.iml
*.ipr
*.iws
.DS_Store
.gradle/
.gradletasknamecache
.idea
/.classpath
/.project
/.settings
/build
/eclipse/
/out
/target-eclipse
test.txt
